<div class="row form-group">
    <div class="col-12">
        <label for="{{field.name}}">{{field.displayname}}</label>
        <input type="text" class="form-control" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}"/>
    </div>
</div>