{% extends 'page.twig' %}

{% block content %}    
    <section id="wrapper">
        <div class="product-list">
            {% for product in products %}
                <div class="product">
                    <a class="product__link" href="/product/{{product.id_product}}">
                        <h6 class="product__name">{{product.name}}</h6>
                    </a>
                    <img class="product__image" src="/img/product/{{product.image}}" />
                    <p class="product__price">{{product.price}} <strong>{{currency}}</strong></p>
                    <p class="product__description--short">{{product.short_description}}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}